@import url("https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Raleway", sans-serif;
  background-color: #F1F8FD;
}

.navbar {
  background-color: #F6C667;
  box-shadow: 0px 5px 17px rgba(121, 121, 121, 0.418);
}
.navbar .brand-celi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navbar .brand-celi a {
  color: black;
  font-size: 3rem;
  text-align: left;
  text-transform: none;
  letter-spacing: 0;
}
.navbar .brand-celi span {
  font-size: 3rem;
}
.navbar .collapse ul {
  margin-left: 2rem;
}
.navbar .collapse ul li a {
  color: black;
  font-size: 2rem;
  text-align: left;
  text-transform: none;
  letter-spacing: 0;
}

footer {
  margin-top: auto;
}
footer .footer-icons {
  transition: 0.7s;
}
footer .footer-icons a {
  text-decoration: none;
  color: black;
  font-size: 25px;
}
footer .footer-icons a:hover {
  color: gray;
}
footer p {
  color: black;
  font-size: 1.5rem;
  text-align: left;
  text-transform: none;
  letter-spacing: 0;
}

.carousel-index {
  border-radius: 3%;
  padding-top: 6rem;
}
.carousel-index img {
  object-fit: cover;
  height: 90vh;
  width: 100%;
  border-radius: 3%;
}
.carousel-index .carousel-inner {
  border-radius: 3%;
}
.carousel-index .carousel-control-prev-icon, .carousel-index .carousel-control-next-icon {
  height: 5vh;
  width: 5vh;
}

.info-celi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
}
.info-celi .imagen-index img {
  width: 100%;
  height: 50rem;
  object-fit: cover;
  margin-bottom: 1rem;
  border-radius: 3%;
  border: 2px solid black;
  box-shadow: -11px 11px 12px rgba(39, 39, 39, 0.418);
}
.info-celi .info-index {
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.info-celi .info-index .block1 {
  padding: 1.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: -11px 11px 12px rgba(39, 39, 39, 0.418);
  background: linear-gradient(to right, rgba(144, 12, 38, 0.7725490196), rgba(214, 0, 46, 0.8078431373));
}
.info-celi .info-index .block1 p {
  color: #F1F8FD;
}
.info-celi .info-index .block1 b {
  color: #F6C667;
}
.info-celi .info-index .block2 {
  padding: 1.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: -11px 11px 12px rgba(39, 39, 39, 0.418);
  background: linear-gradient(to right, rgba(144, 12, 38, 0.7725490196), rgba(214, 0, 46, 0.8078431373));
}
.info-celi .info-index .block2 p {
  color: #F1F8FD;
}
.info-celi .info-index .block2 b {
  color: #F6C667;
}
.info-celi .info-index .block3 {
  padding: 1.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: -11px 11px 12px rgba(39, 39, 39, 0.418);
  background: linear-gradient(to right, rgba(144, 12, 38, 0.7725490196), rgba(214, 0, 46, 0.8078431373));
}
.info-celi .info-index .block3 p {
  color: #F1F8FD;
}
.info-celi .info-index .block3 b {
  color: #F6C667;
}
.info-celi p {
  margin: 0;
  color: black;
  font-size: 2rem;
  text-align: left;
  text-transform: none;
  letter-spacing: 0;
}

.formulario {
  padding-top: 6rem;
}

.fotografias-page h1,
.fotografias-page h2,
.fotografias-page h3,
.fotografias-page h4,
.fotografias-page h5,
.fotografias-page h6,
.fotografias-page h6 {
  padding-top: 3rem;
  color: black;
  font-size: 3rem;
  text-align: left;
  text-transform: none;
  letter-spacing: 0;
}
.fotografias-page h1 {
  padding-top: 6rem;
}
.fotografias-page .carousel {
  border-radius: 3%;
}
.fotografias-page .carousel .carousel-control-prev-icon, .fotografias-page .carousel .carousel-control-next-icon {
  height: 8vh;
  width: 8vh;
}
.fotografias-page .carousel .carousel-inner {
  border-radius: 3%;
}
.fotografias-page .carousel img {
  object-fit: cover;
  height: 85vh;
  width: 100%;
  border-radius: 3%;
}

@media only screen and (max-width: 1200px) {
  .info-celi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
  }
  .info-celi .imagen-index img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
  }
}
@media only screen and (max-width: 991px) {
  .navbar .brand-celi a {
    color: black;
    font-size: 2rem;
    text-align: left;
    text-transform: none;
    letter-spacing: 0;
  }
  .navbar .brand-celi span {
    font-size: 2.1rem;
  }
  .navbar .collapse ul {
    margin-left: 0rem;
  }
  .navbar .collapse ul li a {
    color: black;
    font-size: 1.5rem;
    text-align: left;
    text-transform: none;
    letter-spacing: 0;
    font-weight: bolder;
  }
  .info-celi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
  }
  .info-celi p {
    margin: 0;
    color: black;
    font-size: 1.4rem;
    text-align: left;
    text-transform: none;
    letter-spacing: 0;
  }
  .fotografias-page h1,
  .fotografias-page h2,
  .fotografias-page h3,
  .fotografias-page h4,
  .fotografias-page h5,
  .fotografias-page h6 {
    padding-top: 2rem;
    color: black;
    font-size: 2rem;
    text-align: left;
    text-transform: none;
    letter-spacing: 0;
  }
  .fotografias-page h1 {
    padding-top: 4rem;
  }
  .fotografias-page .carousel img {
    height: 42vh;
  }
  .carousel-index .carousel-inner .carousel-item img {
    height: 60vh;
  }
}

/*# sourceMappingURL=style.css.map */
