@import url("https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Raleway", sans-serif;
  background-color: #fafafa;
}

.navbar {
  background-color: #F6C667;
  box-shadow: 0px 5px 17px rgba(121, 121, 121, 0.418);
}
.navbar .brand-celi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navbar .brand-celi a {
  color: black;
  font-size: 3rem;
  text-align: left;
  text-transform: none;
  letter-spacing: 0;
  transition: 0.3s;
}
.navbar .brand-celi a:hover {
  color: white;
}
.navbar .brand-celi span {
  font-size: 3rem;
}
.navbar .collapse ul {
  margin-left: 2rem;
}
.navbar .collapse ul li a {
  color: black;
  font-size: 2rem;
  text-align: left;
  text-transform: none;
  letter-spacing: 0;
  transition: 0.3s;
}
.navbar .collapse ul li a:hover {
  color: white;
}

footer {
  margin-top: auto;
}
footer .footer-icons {
  transition: 0.7s;
}
footer .footer-icons a {
  text-decoration: none;
  color: black;
  font-size: 4rem;
  transition: 0.8s;
}
footer .footer-icons a:hover {
  color: #187a4c;
  transform: scale(1.1);
}
footer p {
  color: black;
  font-size: 1.5rem;
  text-align: left;
  text-transform: none;
  letter-spacing: 0;
}

.carousel-index {
  border-radius: 3%;
  padding-top: 15rem;
}
.carousel-index img {
  object-fit: cover;
  height: 87vh;
  width: 100%;
  border-radius: 3%;
}
.carousel-index .carousel-inner {
  border-radius: 3%;
}
.carousel-index .carousel-control-prev-icon, .carousel-index .carousel-control-next-icon {
  height: 5vh;
  width: 5vh;
}

.info-celi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
}
.info-celi .imagen-index img {
  width: 100%;
  height: 50rem;
  object-fit: cover;
  margin-bottom: 1rem;
  border-radius: 3%;
  border: 2px solid black;
  box-shadow: -11px 11px 12px rgba(39, 39, 39, 0.418);
}
.info-celi .info-index {
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.info-celi .info-index .block1 {
  padding: 1.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: -11px 11px 12px rgba(39, 39, 39, 0.418);
  background: linear-gradient(to right, rgba(144, 12, 38, 0.7725490196), rgba(214, 0, 46, 0.8078431373));
}
.info-celi .info-index .block1 p {
  color: #F1F8FD;
}
.info-celi .info-index .block1 b {
  color: #F6C667;
}
.info-celi .info-index .block2 {
  padding: 1.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: -11px 11px 12px rgba(39, 39, 39, 0.418);
  background: linear-gradient(to right, rgba(144, 12, 38, 0.7725490196), rgba(214, 0, 46, 0.8078431373));
}
.info-celi .info-index .block2 p {
  color: #F1F8FD;
}
.info-celi .info-index .block2 b {
  color: #F6C667;
}
.info-celi .info-index .block3 {
  padding: 1.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: -11px 11px 12px rgba(39, 39, 39, 0.418);
  background: linear-gradient(to right, rgba(144, 12, 38, 0.7725490196), rgba(214, 0, 46, 0.8078431373));
}
.info-celi .info-index .block3 p {
  color: #F1F8FD;
}
.info-celi .info-index .block3 b {
  color: #F6C667;
}
.info-celi p {
  margin: 0;
  color: black;
  font-size: 2rem;
  text-align: left;
  text-transform: none;
  letter-spacing: 0;
}

.contacto-titulo {
  margin-top: 10rem;
  text-align: center;
  font-size: 3rem;
}
.contacto-titulo b {
  color: rgba(214, 0, 46, 0.8078431373);
}

.formulario {
  padding-top: 1rem;
  text-align: center;
}
.formulario .contacto {
  margin-top: -1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: rgba(238, 238, 238, 0.9333333333);
  border-radius: 2rem;
  width: 38rem;
  padding-bottom: 3rem;
}
.formulario .contacto input:-webkit-autofill {
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
  transition: background-color 5000s ease-in-out 0s;
}
.formulario .contacto h2 {
  color: rgb(255, 255, 255);
  font-size: 4rem;
  text-align: center;
  text-transform: none;
  letter-spacing: 0rem;
}
.formulario .contacto .formName {
  color: black;
  font-size: 2rem;
  margin-left: -22rem;
  margin-top: 1rem;
}
.formulario .contacto .formNameLabel {
  width: 30rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  border: solid #F6C667;
}
.formulario .contacto .formNameLabel:focus-visible {
  border: 0.2rem solid rgba(255, 217, 0, 0);
}
.formulario .contacto .formMail {
  color: black;
  font-size: 2rem;
  margin-left: -13rem;
  margin-top: 1rem;
}
.formulario .contacto .formMailLabel {
  width: 30rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  border: solid #F6C667;
}
.formulario .contacto .formMailLabel:focus-visible {
  border: 0.2rem solid rgba(255, 217, 0, 0);
}
.formulario .contacto .formSubject {
  color: black;
  font-size: 2rem;
  margin-left: -22rem;
  margin-top: 1rem;
}
.formulario .contacto .formSubjectLabel {
  width: 30rem;
  font-weight: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  border: solid #F6C667;
}
.formulario .contacto .formSubjectLabel:focus-visible {
  border: 0.2rem solid rgba(255, 217, 0, 0);
}
.formulario .contacto .formText {
  color: black;
  font-size: 2rem;
  margin-left: -18rem;
  margin-top: 1rem;
}
.formulario .contacto .formTextLabel {
  width: 30rem;
  font-weight: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  border: solid #F6C667;
}
.formulario .contacto .formTextLabel:focus-visible {
  border: 0.2rem solid rgba(255, 217, 0, 0);
}
.formulario .contacto .formEnviar {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 1rem;
  background-color: #F6C667;
  transition: 0.6s;
  margin-left: -21.8rem;
  margin-top: 1rem;
}
.formulario .contacto .formEnviar:hover {
  background-color: #fad78b;
}

.footer-formulario {
  margin-top: 5rem;
  text-align: center;
  font-size: 3rem;
}
.footer-formulario b {
  color: rgba(214, 0, 46, 0.8078431373);
}

.redes-contacto {
  display: flex;
  justify-content: center;
  gap: 5rem;
}
.redes-contacto div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.redes-contacto div a {
  font-size: 5rem;
  color: black;
  text-decoration: none;
  transition: 0.4s;
}
.redes-contacto div a:hover {
  color: rgba(214, 0, 46, 0.8078431373);
  transform: scale(1.1);
}
.redes-contacto div p {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.fotografias-page h1,
.fotografias-page h2,
.fotografias-page h3,
.fotografias-page h4,
.fotografias-page h5,
.fotografias-page h6,
.fotografias-page h6 {
  padding-top: 3rem;
  color: black;
  font-size: 3rem;
  text-align: left;
  text-transform: none;
  letter-spacing: 0;
}
.fotografias-page h1 {
  padding-top: 6rem;
}
.fotografias-page .carousel {
  border-radius: 3%;
}
.fotografias-page .carousel .carousel-control-prev-icon, .fotografias-page .carousel .carousel-control-next-icon {
  height: 8vh;
  width: 8vh;
}
.fotografias-page .carousel .carousel-inner {
  border-radius: 3%;
}
.fotografias-page .carousel img {
  object-fit: cover;
  height: 85vh;
  width: 100%;
  border-radius: 3%;
}

@media only screen and (max-width: 1200px) {
  .info-celi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
  }
  .info-celi .imagen-index img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
  }
}
@media only screen and (max-width: 991px) {
  .navbar .brand-celi a {
    color: black;
    font-size: 2rem;
    text-align: left;
    text-transform: none;
    letter-spacing: 0;
  }
  .navbar .brand-celi span {
    font-size: 2.1rem;
  }
  .navbar .collapse ul {
    margin-left: 0rem;
  }
  .navbar .collapse ul li a {
    color: black;
    font-size: 1.5rem;
    text-align: left;
    text-transform: none;
    letter-spacing: 0;
    font-weight: bolder;
  }
  .info-celi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
  }
  .info-celi p {
    margin: 0;
    color: black;
    font-size: 1.4rem;
    text-align: left;
    text-transform: none;
    letter-spacing: 0;
  }
  .info-celi .imagen-index {
    margin-top: 1%;
    margin-bottom: 0rem;
  }
  .info-celi .info-index {
    padding-right: 0;
  }
  .info-celi .info-index .block1, .info-celi .info-index .block2, .info-celi .info-index .block3 {
    margin-right: 0;
  }
  .fotografias-page h1,
  .fotografias-page h2,
  .fotografias-page h3,
  .fotografias-page h4,
  .fotografias-page h5,
  .fotografias-page h6 {
    padding-top: 2rem;
    color: black;
    font-size: 2rem;
    text-align: left;
    text-transform: none;
    letter-spacing: 0;
  }
  .fotografias-page h1 {
    padding-top: 4rem;
  }
  .fotografias-page .carousel {
    margin-top: 8rem;
  }
  .fotografias-page .carousel .carousel-control-prev-icon, .fotografias-page .carousel .carousel-control-next-icon {
    height: 8vh;
    width: 8vh;
  }
  .fotografias-page .carousel img {
    height: 42vh;
  }
  .carousel-index {
    padding-top: 6rem;
  }
  .carousel-index .carousel-inner .carousel-item img {
    height: 60vh;
  }
  .contacto-titulo {
    margin-top: 7rem;
    text-align: center;
    font-size: 2rem;
  }
  .contacto-titulo b {
    color: rgba(214, 0, 46, 0.8078431373);
  }
  .footer-formulario {
    margin-top: 2.5rem;
    text-align: center;
    font-size: 2rem;
  }
  .footer-formulario b {
    color: rgba(214, 0, 46, 0.8078431373);
  }
  .redes-contacto {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
  }
  .redes-contacto div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  .redes-contacto div a {
    font-size: 2.5rem;
    color: black;
    text-decoration: none;
    transition: 0.4s;
  }
  .redes-contacto div a:hover {
    color: rgba(214, 0, 46, 0.8078431373);
    transform: scale(1.1);
  }
  .redes-contacto div p {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
