@import "base/variables";
@import "base/resets";
@import "base/utilidades";

@import "components/navbar";
@import "components/footer";

@import "layout/index";
@import "layout/contacto";
@import "layout/fotografias";
@import "layout/mediaqueries";