.fotografias-page {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    h6 {
        padding-top: 3rem;
        @include titulos (black, 3rem, left, none, 0);
    }

    h1 {
        padding-top: 6rem;
    }

    .carousel {
        border-radius: 3%;
        
        .carousel-control-prev-icon, .carousel-control-next-icon {
            height: 8vh;
            width: 8vh;
        }

        .carousel-inner {
            border-radius: 3%;
        }

        img {
            object-fit: cover;
            height: 85vh;
            width: 100%;
            border-radius: 3%;
        }
    }
}