.fotografias-page {
    h1, h2, h3, h4, h5, h6 {
        padding-top: 3rem;
        @include titulos (black, 3rem, left, none, 0);
    }
    h1{
        padding-top: 0;
    }
    .carousel {
        img {
            object-fit: cover;
            height: 85vh;
            width: 100%;
        }
    }
}