.carousel-index {
    border-radius: 3%;
    padding-top: 8rem;
    img {
        object-fit: cover;
        height: 87vh;
        width: 100%;
        border-radius: 3%;
    }
    .carousel-inner {
        border-radius: 3%;
    }
    .carousel-control-prev-icon, .carousel-control-next-icon {
        height: 5vh;
        width: 5vh;
    }
}

.info-celi {
    @include flexbox (row, center, space-between);

    .imagen-index {
        img {@include imagenes (100%, 50rem, cover);
        margin-bottom: 1rem;
        border-radius: 3%;
        border: 2px solid black;
        box-shadow: -11px 11px 12px rgba(39, 39, 39, 0.418);
    }
    }

    .info-index{
        padding-right: 1rem;
@include flexbox (column, space-around, center);
    .block1{
        padding: 1.5rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        border-radius: 10px;
        box-shadow: -11px 11px 12px rgba(39, 39, 39, 0.418);
        background: $gradiente;
        p {color: #F1F8FD;}
        b {color: #F6C667};
    }
    .block2{
        padding: 1.5rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        border-radius: 10px;
        box-shadow: -11px 11px 12px rgba(39, 39, 39, 0.418);
        background: $gradiente;
        p {color: #F1F8FD;}
        b {color: #F6C667};
    }
    .block3{
        padding: 1.5rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        border-radius: 10px;
        box-shadow: -11px 11px 12px rgba(39, 39, 39, 0.418);
        background: $gradiente;
        p {color: #F1F8FD;}
        b {color: #F6C667};
    }
}

    p {
        margin: 0;
        @include titulos (black, 2rem, left, none, 0);
    }
}
