@media only screen and (max-width:1200px) {
    .info-celi {
        @include flexbox (column, center, space-between);

        .imagen-index {
            img {
                @include imagenes (100%, 40vh, cover);
            }
        }
    }
}

@media only screen and (max-width:991px) {

    .navbar {

        .brand-celi {

            a {
                @include titulos (black, 2rem, left, none, 0);
            }

            span {
                font-size: 2.1rem;
            }
        }

        .collapse {
            ul {
                margin-left: 0rem;

                li {
                    a {
                        @include titulos (black, 1.5rem, left, none, 0);
                        font-weight: bolder;
                    }
                }
            }
        }
    }

    .info-celi {
        @include flexbox (column, center, space-between);

        p {
            margin: 0;
            @include titulos (black, 1.4rem, left, none, 0);
        }

        .imagen-index {
            margin-top: 1%;
            margin-bottom: 0rem;
        }

        .info-index{
            padding-right: 0;
            .block1, .block2, .block3 {
                margin-right: 0;
            }
        }
    }




    .fotografias-page {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            padding-top: 2rem;
            @include titulos (black, 2rem, left, none, 0);
        }

        h1 {
            padding-top: 4rem;
        }

        .carousel {
            .carousel-control-prev-icon, .carousel-control-next-icon {
                height: 8vh;
                width: 8vh;}
                margin-top: 8rem;
            img {
                height: 42vh;
            }
        }
    }

    .carousel-index {
    padding-top: 6rem;
        .carousel-inner {
            .carousel-item {
                img {
                    height: 60vh;
                }
            }
        }
    }

    .contacto-titulo{
        margin-top: 7rem;
        text-align: center;
        font-size: 2rem;
        b{
            color: #d6002ece;
        }
    }

    .footer-formulario{
        margin-top: 2.5rem;
        text-align: center;
        font-size: 2rem;
        b{
            color: #d6002ece;
        }
    }
    .redes-contacto{
        display: flex;
        justify-content: center;
        gap: 2.5rem;
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 2rem;
            a{
                font-size: 2.5rem;
                color: black;
                text-decoration: none;
                transition: .4s;
    
                &:hover{
                    color: #d6002ece;
                    transform: scale(1.1);
                }
            }
            p{
                font-size: 1.5rem;
                margin-top: 1rem;
            }
        }
    }
}

