footer {
    margin-top: auto;

    .footer-icons {
        transition: .7s;

        a {
            text-decoration: none;
            color: black;
            font-size: 4rem;
            transition: .8s;

            &:hover {
                color: #187a4c;
                transform: scale(1.1)
            }
        }
    }

    p {
        @include titulos (black, 1.5rem, left, none, 0);
    }
}