.navbar {
    background-color: #F6C667;
    box-shadow: 0px 5px 17px rgba(121, 121, 121, 0.418);

    .brand-celi {
        @include flexbox (row, center, center);

        a {
            @include titulos (black, 3rem, left, none, 0);
            transition: .3s;

            &:hover {
                color: white;
            }
        }

        span {
            font-size: 3rem;
        }
    }

    .collapse {
        ul {
            margin-left: 2rem;

            li {
                a {
                    @include titulos (black, 2rem, left, none, 0);
                    transition: .3s;


                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
}