@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $main-font;
  background-color: #F1F8FD;
}

